# Turn on the rewrite engine
RewriteEngine On

# rewrite if not file or folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# set index.php as entry point
RewriteRule ^ index.php [L,QSA]